<nav class="navbar navbar-expand-md navbar-dark bg-dark" >
    <a class="navbar-brand" href="{% url 'home' %}">TaskApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
   
        <ul class="navbar-nav p-2">
            <li class="nav-item active">
                <a class="nav-link " href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'task' %}">Tasks</a>
            </li>
            
            
        </ul>
    
    </div>
    
</nav>